<div style="background-image: url('./assets/Images/Login/background.png')" class="container-dad">

  <div>
    <form action="">
      <section class="form-login">
        <h5>Formulario</h5>
        <input class="controls" type="text" name="usuario" value="" placeholder="Nombre de usuario">
        <input class="controls" type="text" name="correo" value="" placeholder="Correo"
          pattern="^(\w+[/./-]?){1,}@[a-z]+[/.]\w{2,}$" title="Formato de correo inválido" required>
        <input class="controls" type="password" name="contrasena" value="" placeholder="Contraseña"
          placeholder="Escribe tu password" required>
        <input class="buttons" type="submit" name="" value="Ingresar">
        <p><a href="#">¿Olvidaste tu Contraseña?</a></p>
      </section>
    </form>
  </div>
</div>
